<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create Expense</h1>
    <form action="/api/expenses" method="POST" enctype="multipart/form-data">
      <input type="text" name="category" required />
      <input type="number" name="price" required />
      <input type="file" name="image" accept="image/*" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
